<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to the quotes api </h1>
    <p>by vector</p>

    <h3><u>endpoints</u></h3>

    <p><b>get all quotes</b></p>
    <p><a href="#">http://localhost:5000/vector/api/v1.0/quotes</a></p>

    <p><b>get quote by id</b></p>
    <p><a href="#">http://localhost:5000/vector/api/v1.0/quotes/quote_id</a></p>
</body>
</html>